// Define variables for your color scheme

// For example:
$lightkhaki: #E3D5CA;
$rose-khaki: #D5BDAF;
$gray-khaki: #D6CCC2;
$orange: #f0a96a;
$green: #7edba5;
$gray: rgb(69, 68, 68);
$medium-gray: #c3c3bc;
$light-gray: #F4F4F4;
$red: rgb(254, 172, 164);
