// Define variables for your color scheme

// For example:
$lightkhaki: #E3D5CA;
$rose-khaki: #D5BDAF;
$gray-khaki: #D6CCC2;
$orange: #E67E22;
$green: #10d863;
$gray: rgb(69, 68, 68);
$light-gray: #F4F4F4;
$red: rgb(255, 68, 0);
