<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <%= link_to "Meet the Team", pages_about_path, class: "nav-link"  %>
  </div>
  <div class="footer-copyright">
    This site is made with <i class="fas fa-heart"></i> by CityCare from LeWagon
  </div>
</div>
