<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <%= link_to "Meet the Team", pages_about_path, class: "nav-link fs-6"  %>
  </div>
  <div class="footer-copyright">
    This site is made with <i class="fas fa-heart"></i> by
    <span style="font-family:'Abril Fatface', cursive; font-size:24px;">ouicity</span> from LeWagon
  </div>
</div>
