<div class="container justify-content-center mb-5 pb-4">

  <div class="header-div">
    <h1 class="header">
      <%= "Your Orders" %>
    </h1>
  </div>

  <div class="cards d-flex flex-wrap justify-content-start" style="grid-template-columns: 1fr 1fr 1fr 1fr;">
    <% @orders.each do |order| %>
      <%= render 'shared/order_card', product: order.product %>
    <% end %>
  </div>
</div>
