<div class="container justify-content-center">
  <div class="new-order-form">
    <div class = 'form-container rounded-4'>
      <div class = 'container-relative'>
        <%= cl_image_tag @product.photos[0].key, width: 600, height: 400, crop: :fill, class: "rounded-4 my-4 shadow" %>
        <div class="text-box">
          <h2><%= @product.name %></h2>
        </div>

        <%= simple_form_for [@product, @order], url: product_orders_path(@product) do |f| %>

          <%= f.submit 'Checkout', class: "btn btn-success p-3 text-white fw-bold shadow" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
