<div class="hero">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <h1 class="logo">loopyex</h1>
    <h4 class="slogan">Your favorite spot for all things yarn<br>(and not your crazy ex)</h4>
    <br>
    <%= link_to "Open sesame", products_path, class: "btn btn-success text-white fw-bold fs-4 rounded-pill p-3" %>
  </div>
</div>
