<div class="hero">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <h1>loopyex</h1>
    <h4 class='slogan'>Your favorite spot for all things yarn (and not your crazy ex)</h4>
    <br>
    <%= link_to "Open sesame", products_path, class: "btn btn-warning text-white rounded" %>
  </div>
</div>
