<div class="container d-flex flex-column align-items-center">
<h1>loopyex</h1>
<h4>Your favorite spot for all things yarn (and not your crazy ex)</h4>
<br>
<%= link_to "Open sesame", yarns_path, class: "btn btn-warning text-white rounded" %>
</div>
