.new-product-form {
  font-size: 15px;
  padding: 7em;
}

.form-container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #f4f4f4e2;
  border-radius: 4.2px;
}

.container-relative {
  position: relative;
  display: inline-block;
  margin-top: 1em;
}

.text-box {
  h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: $white;
  font-weight: bold;
  font-size: 34px;
}
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
}

abbr[title] {color: #cd6565;
  text-decoration: none;}

.form-input {
  margin-top: 3em;
  margin-bottom: 3em;
}

.btn-gray {
  text-decoration: none;
  padding: 10px;
  border: 1px solid #919090;
  display: inline-block;
  color: $gray;
  border-radius: 5px;
}
