.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Baloo Bhaijaan 2", cursive;
}

.mapboxgl-popup .btn {
color: #fff;
background-color: #7edba5


}
