.mapboxgl-popup {
  max-width: 200px;
  border-radius: 5px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Baloo Bhaijaan 2", cursive;
}

.mapboxgl-popup .btn {
  color: #fff;
  background-color: #7edba5;
}

.pop-up-text {
  font-size: 11px;
  font-weight: 300;
}
