.navbar-lewagon {
  justify-content: space-between;
  background: #f4f4f4;
  max-height: fit-content;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.center {
  vertical-align: middle;
}

.brand-name {
  font-family: "Pacifico", "cursive";
  font-size: 32px;
  color: #010101
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  opacity: 0.9;
}
