.navbar-lewagon {
  justify-content: space-between;
  background: #f4f4f4;
  max-height: fit-content;
  border-bottom: 1px solid #e0e0e0;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand img{
color: #454444;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.center {
  vertical-align: middle;
}

.brand-name {
  font-family: "Pacifico", "cursive";
  font-size: 32px;
}
