.navbar-lewagon {
  justify-content: space-between;
  background: #f4f4f4;
  max-height: fit-content;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.center {
  vertical-align: middle;
}
