// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/avatar";
@import "components/index";
@import "components/carousel";
@import "pages/index";
@import "pages/home";
@import "components/form";

// General site reset
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// General site styles
a {
  text-decoration: none;
  color: var(--bs-body-color)
}

a:hover {
  text-decoration: none;
  color: var(--bs-body-color)
}
