<div class="container">
  <%# Search %>

  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for yarn...">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Yarn it!</button>
        </span>
      </div>
    </div>
  </div>

  <div class="header-div"><h1 class="header">Yarns curated for you</h1>
  </div>
    <div class="cards">
      <% @products.each do |product| %>
        <%= render 'shared/card', product: product %>
      <% end %>
    </div>
</div>
