<div class="container">

<h1 class="header">Yarns curated for you</h1>
<div class="cards">
  <% @products.each do |product| %>
  <%= render partial: "shared/card", locals: { product: product } %>

<% end %>
</div>

</div>
